################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode
/.vs
/DependencyParseTest/bin/Debug/net6.0
/DependencyParseTest/obj/Debug/net6.0
/DependencyParseTest/obj
/DependencyParseTestAnswer/bin/Debug/net6.0
/DependencyParseTestAnswer/obj
